<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华夏资本</title>
	<link charset="utf-8" rel="stylesheet" href="css/reset.css">
  <link charset="utf-8" rel="stylesheet" href="css/index.css">
	<link charset="utf-8" rel="stylesheet" href="css/banner.css">
</head>
<body>
	<main class="default posi">
    <header class="header header_about">
	    <%- include('./components/header_bk.ejs') -%>
	  </header>
    <div class="contact_info">
      <h2 class="contact_us">联系我们</h2>
      <h3 class="contact_us_sub">华夏贷（北京）资本管理有限公司</h3>
      <div class="info_con">
        <div class="info_left info_sub">
          <a class="location" href="javascript:;"></a>
          <h5>地址</h5>
          <p>北京市东城区广渠门领航国际大厦2单元16层</p>
          <em></em>
        </div>
        <div class="info_middle info_sub">
          <a class="contact" href="javascript:;"></a>
          <h5>电话</h5>
          <p>8610-6652 7400</p>
          <em></em>
        </div>
        <div class="info_right info_sub">
          <a class="mail" href="javascript:;"></a>
          <h5>邮箱</h5>
          <p>huaxiaziben2017@163.com</p>
          <em></em>
        </div>
      </div>
    </div>
	  <%- include('./components/bottom.ejs') -%>
  </main>
</body>
</html>
