<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>华夏资本</title>
    <link charset="utf-8" rel="stylesheet" href="/css/reset.css">
    <link charset="utf-8" rel="stylesheet" href="/css/code.min.css">
  </head>
  <body>
    <main class="default bg">
      <header class="header">
        <%- include('./components/header.ejs') -%>
      </header>
      <a href="/nav" class="enter"></a>
      <%- include('./components/bottom.ejs') -%>
    </main>
  </body>
</html>
