<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>华夏资本</title>
	<link charset="utf-8" rel="stylesheet" href="css/reset.css">
  <link charset="utf-8" rel="stylesheet" href="css/index.css">
	<link charset="utf-8" rel="stylesheet" href="css/banner.css">
</head>
<body>
	<main class="default posi">
    <header class="header header_about">
	    <%- include('./components/header_bk.ejs') -%>
	  </header>
    <div class="product_info">
      <a href="/nav">暂无产品信息，点击回到首页</a>
    </div>
	  <%- include('./components/bottom.ejs') -%>
  </main>
</body>
</html>
