<section class="bottom">
  <ul>
    <li><a href="javascript:;" class="phone"></a></li>
    <li><a href="contact" class="email"></a></li>
    <li><a href="contact" class="address"></a></li>
    <li><a href="javascript:;" class="qrcode"></a></li>
  </ul>
</section>
