<div class="h_wrapper">
  <div class="header_left">
    <img src="/img/logo.png">
  </div>
  <div class="header_mid">
    |&nbsp;&nbsp;&nbsp;&nbsp;专注为中小企业提供优质金融产品&nbsp;&nbsp;&nbsp;&nbsp;|
  </div>
  <div class="header_right">
    <img src="/img/tel.png">
  </div>
</div>
