<div class="h_wrapper h_wrapper_about">
  <div class="header_left">
    <img src="/img/logo_bk.png">
  </div>
  <div class="header_mid header_mid_about">
    |&nbsp;&nbsp;&nbsp;&nbsp;专注为中小企业提供优质金融产品&nbsp;&nbsp;&nbsp;&nbsp;|
  </div>
  <div class="header_right">
    <img src="/img/tel_bk.png">
  </div>
</div>
